# This is the main OWFS configuration file. You should read the
# owfs.conf(5) manual page in order to understand the options listed
# here.
# This is the cfg file used for OWHTTPD

####################### OWHTTPD #########################
http: port = 2121
[[OWSERVER]]